*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 10%;
	padding-right: 10%;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

/* Navigation Criteria: Need color scheme for active link, unvisited, and hover */

/* Unvisited, color = white*/
nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/* Hover, color = red */
nav ul li a:hover {
	color: #ea1538;
	transition: .3s;
}

/* Active, color = grey*/
nav ul li a:active{
	color: grey;
	transition: .1s
}

/* Background Image */

body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../Images/backgroundimage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/* Text Coloring */

span {
	color: #ea1538;
}

/* index.html */

.home {
	height: 10%;
	width: 100%;
}


.about section {
	margin-top: 50px;
	padding-left: 167px;
	width: 45%;
	background-color: transparent;
}

.about h2 {
	padding-top: 50px;
	color: white;
	font-size: 20px;
	letter-spacing: 0.1em;
}

.about h3 {
	padding-top: 20px;
	color: white;
	font-size: 36px;
	letter-spacing: 0.1em;
}

.about h4 {
	padding-top: 20px;
	text-align: left;
	color: white;
	font-size: 20px;
	letter-spacing: 0.1em;
}

.about .socials{
	padding-left:167px;
	height: 400px;
	background-color: transparent;
}

.about p{
	color: white;
	text-align: center;
	padding-top: 30px;
	font-weight: bold;
}

.social_media{
	text-align: center;
}

#instagram{
	margin-right: 20px;
	margin-top: 40px;
	height: 100px;
	width: 100px;
	border: white solid 2px;
}

.socials h2{
	padding-top: 40px;
	color: white;
	font-size: 20px;
	text-align: center;
}

nav h1 {
	color: white;
	font-size: 28px;
}

/* hobbies.html */

.wrapper > .HobbyParagraph
{
	color: white;
	padding-left: 50px;
}	

.wrapper > .HobbyImg
{
	text-align: center;
	padding: 10px;
}

.wrapper > .HobbyImg > img
{
	width: 50%;
	height: 100%;
	border: white solid 2px;
}

/* skills.html */
.floatC-container{
display: flex;
}

#Page-Title{
	padding-top: 50px;
	text-align: center;
	color: white;
}

.floatC-child1{
	height: 700px;
	width: 25%;
	background-color: blue;
}

.floatC-child2{
	height: 700px;
	width: 25%;
	background-color: green;
}

.floatC-child3{
	height: 700px;
	width: 25%;
	background-color: yellow;
}

.floatC-child4{
	height: 700px;
	width: 25%;
	background-color: purple;
}

.floatC-child5{
	height: 700px;
	width: 25%;
	background-color: orange;
}

.floatC-container{
	margin-top: 50px;
}

.floatC-container img{
	width: 150px;
	margin-top: 30px;
	background-color: white;
	border-radius: 25px;
}

.floatC-container div{
	text-align: center;
	background-color: black;
	border: 2px white solid;
}

.floatC-container h2, p{
	padding: 15px;
	color: white;
}

/* careergoals.html */

.wrapper > .CareerParagraph
{
	color: white;
	padding-left: 50px;
}

.wrapper > .CareerImg > img
{
	width: 50%;
	height: 100%;
	border: white solid 2px;
}

.wrapper > .CareerImg
{
	text-align: center;
	padding: 10px;
}

/* projects.html */
.wrapper
{
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.wrapper > div
{
	background-color: transparent;
	height: 300px;
}

.wrapper > .Title
{
	text-align: center;
	color: white;
	grid-column: 1/3;
	height: 100px;
}

.wrapper > .ProjectParagraph
{
	color: white;
	padding-left: 50px;
}

.wrapper > .ProjectParagraph > h2
{
	color: white;
	padding-left: 15px;
}

.wrapper > .ProjectVid
{
	text-align: center;
}

.wrapper > .ProjectVid > iframe, .wrapper > .ProjectVid > img
{
	width: 50%;
	height: 80%;
	border: white solid 2px;
}









